.app-icon-button {
  --app-button-background: var(--app-color-primary);
  --app-button-foreground: var(--app-color-primary-contrast);
  --app-border-color: var(--app-color-black);
  --app-border-radius: var(--app-gap-1);

  align-items: center;
  background-color: var(--app-button-background);
  border: 1px solid var(--app-border-color);
  border-radius: var(--app-border-radius);
  color: var(--app-button-foreground);
  cursor: pointer;
  justify-content: center;

  display: flex;
  flex-wrap: nowrap;
  padding: var(--app-gap-1);
  margin: 0 var(--app-gap-1);
  max-width: 100%;

  .app-icon {
    margin: 0;
  }
}

.app-icon-button.secondary {
  --app-button-background: transparent;
  --app-button-foreground: var(--app-color-secondary);
  --app-border-color: var(--app-color-secondary);
}

.app-icon-button.transparent {
  --app-button-background: transparent;
  --app-button-foreground: var(--app-color-white);
  --app-border-color: transparent;
}
